$primary-color: #2b5e98;
$primary-light-color: #4782c4;
$primary-alert-text-color: #e4c267;
$secondary-color: #6f6f70;
$disabled-color: #a6a6aa;
$secondary-light-color: #ffffffb3;
$input-border: 1px solid #d4d4d4;
$success-light-color: #90dc68;
$success-color: #4da81d;
$label-color: #eceeed;
$success-dark-color: #8ca627;
$success-light-bg: #ecf6c3;
$danger-color: #da4a54;
$danger-dark-color: #df3a3a;
$alert-color: #ffbc00;
$text-color: #696c74;
$dark-text-color: #ced3d1;
$white-color: #ffffff;
$heading-color: #484848;
$sub-heading-color: #474949;
$black-color: #000000;
$placeholder-color: #4f4d4d;
$success-outline-color: #55a890;
$table-bg: #f8fbff;
