@use "./assets/scss/variables.scss" as *;
@use "./assets/scss/common.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif !important;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.error {
  p {
    color: #ff0000;
  }
}

.formik_error {
  color: #ff0000 !important;
}
